$barWidth: 35px;

.x-indexscroller {
  padding: 0 5px;
  width: $barWidth;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  -webkit-box-pack: center;

  &.x-indexscroller-vertical > .x-panel-body {
    padding: 5px 0;
    -webkit-border-radius: $barWidth/2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &.x-indexscroller-pressed > .x-panel-body {
    background-color: rgba(0, 0, 0, 0.4);
  }

  span.x-indexscroller-item {
    color: #666;
    font-size: 0.6em;
    font-weight: bold;
    display: block;
    text-shadow: rgba(255, 255, 255, 0.4) 0 1px 0;
  }
}
